; tournaments module
; routes
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/tournaments
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0

[tournaments_federation]
description = "All participants of a federation"
brick = "request federation *"
group[] = public
path_for_website = 1

[tournaments_pgns]
description = "PGN files and games pages of a tournament"
brick = "request pgn *"
path_for_website = 1
brick_local_settings[type] = 0
brick_local_settings[internal] = 0
group[] = public

[tournaments_pgns_internal]
description = "PGN files and games pages of a tournament"
brick = "request pgn *"
path_for_website = 1
brick_local_settings[type] = 0
brick_local_settings[internal] = 1
group[] = "read and write"
include_access[] = tournaments_games
include_access[] = tournaments_pairings

[tournaments_pgns_raw]
description = "Raw PGN files and games pages of a tournament"
brick = "request pgnfile *"
group[] = "read and write"
include_access[] = tournaments_games
include_access[] = tournaments_pairings

[tournaments_job_games]
description = "Job that updates games"
brick = "make games *"
group[] = admin
group[] = localhost

[tournaments_job_standings]
description = "Job that updates standings"
brick = "make standings *"
group[] = admin
group[] = localhost

[tournaments_list]
description = "List of all tournaments registered on platform"
brick = "tables tournaments"
group = admin

[tournaments_liveresults]
description = "Enter live results during the tournament"
brick = "make liveresults"
group = admin
page_placeholder_check = 1
condition[] = tournament
condition[] = running_event

[tournaments_photos]
description = "Player photos of a tournament"
brick = "request tournamentphotos *"
group = public
path_for_website = 1

[tournaments_playercard]
description = "Player card for single tournaments"
brick = "request player *"
group = public

[tournaments_standings]
description = "Add and edit tournament standings"
brick = "forms standings *"
group = "read and write"
page_placeholder_check = 1

[tournaments_statistics]
description = "Statistics for a tournament series"
brick = "request tournamentstats *"
group = public
path_for_website = 1

[tournaments_team]
description = "Team on public website"
default = "/%s/"
group = public

[tournaments_tournamentdetails]
description = "Tournament details (dispatches to tournament, series, or team)"
brick = "request tournamentdetails *"
group = public
path_for_website = 1

[tournaments_team_file]
description = "Download a team PDF file from the data folder"
brick = "request teamfile *"
group[] = read

[tournaments_team_registration]
description = "Internal application of a single team"
brick = "request eventinternal *"
group = "read and write"
page_placeholder_check = 1
