; tournaments module
; routes
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/tournaments
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0

[tournaments_federation]
description = "All participants of a federation"
brick = "request federation *"
group[] = public

[tournaments_pgns]
description = "PGN files and games pages of a tournament"
brick = "request pgn *"
path_for_website = 1
brick_local_settings[type] = 0
brick_local_settings[internal] = 0
group[] = public

[tournaments_job_games]
description = "Job that updates games"
brick = "make games *"
group[] = admin
group[] = localhost

[tournaments_job_standings]
description = "Job that updates standings"
brick = "make standings *"
group[] = admin
group[] = localhost

[tournaments_list]
description = "List of all tournaments registered on platform"
brick = "tables tournaments"
group = admin

[tournaments_liveresults]
description = "Enter live results during the tournament"
brick = "make liveresults"
group = admin
page_placeholder_check = 1
condition[] = tournament
condition[] = running_event

[tournaments_playercard]
description = "Player card for single tournaments"
brick = "request player *"
group = public

[tournaments_standings]
description = "Add and edit tournament standings"
brick = "forms tabellenstaende *"
group = "read and write"
page_placeholder_check = 1

[tournaments_team]
description = "Team on public website"
default = "/%s/"
group = public

[tournaments_team_registration]
description = "Internal application of a single team"
brick = "request eventinternal *"
group = "read and write"
page_placeholder_check = 1
